.main {
  float:left;
  overflow:hidden;
  position:relative;
}
.main,.sub {
  width:360px;
  height:218px;
}
.sub {
  /*²HÂÅ¦â­I´º*/
  /*background-color: #67A6E4;*/
  background-color:#090e13;
  color: #ffffff;
  font-family:·L³n¥¿¶ÂÅé;
  font-size:18px;
  filter:alpa(opacity=80);  
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100,FinishOpacity=70, Style=3, StartX=0, FinishX=100, StartY=0,FinishY=16);
  -moz-opacity:0.8;         
  opacity:0.7;              
  padding:5px; 
  overflow:hidden;
  height:0px;
  position:absolute;
  bottom:0;
}
.sub:hover{
  height:208px;
  -webkit-transition:height 0.5s ease;
  -moz-transition:height 0.5s ease;
  transition:height 0.5s ease;
}
