#header{
	width:70%;
	height:200px;
	/*background-color:rgb(26,26,26);*/
	/*background-color:rgb(50,83,109);*/
	position:absolute;
	left:18%;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
      }

#logo{
	font-family:'Yanone Kaffeesatz';
	color:#FF8C00;
	font-size:8em;
	position:absolute;
	left:4%;
	top:4%;
}

#menu{
	color:white;
	font-size:2em;	
	position:absolute;
	left: 28%;
	top:65%;
	/*margin-left:600px;*/
	font-family:"微軟正黑體","Microsoft JhengHei";
      }
   
#menu ul{
  list-style:none;
  display:block;
}

#menu li:first-child{
	border-left:none;
}
#menu li{
	display:inline;
	padding-left:20px;
	padding-right:20px;
	border-left: 1px solid;
}
#menu li a{
	text-decoration:none;
}
#menu li a:link , #menu li a:visited{
	color:white;
}
#menu li span:hover{
        background-color:#BB7826;
}
/*Member Setting*/
#member{
	width:400px;
  	position:absolute;
	right:80px;
	top:60px;
	color:white;
	font-size:2em;	
	font-family:"微軟正黑體","Microsoft JhengHei";
}
#member ul.menubar{
	list-style:none;
	display:block;
}
#member ul.menubar li:first-child{
  	border-left:none;
}
#member ul.menubar li{
	border-left:1px solid;
	display:inline;
	padding-right:15px;
	padding-left:15px;
}
#member li a{
	text-decoration:none;
}
#member li a:link , #member li a:visited{
	color:white;
}
#member li span:hover{
        background-color:#BB7826;
}

/* End of header*/
#content{
	height:70%;
	width:60%;
	position:relative;
	top:330px;
	margin-left:auto;
	margin-right:auto;
}
/*Slide Show*/
.slideshow{
	margin-left:auto;
	margin-right:auto;
	position: relative;
	width:720px;
	height:540px;
	padding:10px;
	box-shadow:0 0 20px #bcc0c0;
}
.slideshow img{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	display:block;
}
#background{
	width:100%;
	height:100%;
  background-image:url("ocean.jpg");
  background-size:cover;
}
